name: Pack Conversion

on:
  workflow_dispatch:
    inputs:
      pack_url:
        description: "URL to convert"
        required: true
        type: string

jobs:
  convert:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download pack
        run: |
          mkdir input
          cd input
          wget "${{ github.event.inputs.pack_url }}" -O pack.zip || curl -L "${{ github.event.inputs.pack_url }}" -o pack.zip

      - name: Convert Pack
        run: |
          mkdir -p output
          echo "Converted!!" > output/complete.txt

      - name: Debug folders
        run: |
          echo "-- FOLDER --"
          pwd
          echo "-- LIST ROOT --"
          ls -R .
          echo "-- LIST OUTPUT --"
          ls -R output || echo "NO OUTPUT FOUND"

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: converted-pack
          path: output/**
